.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  /*margin: 20px 0;*/
  color: black;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-backdrop .modal-ticket {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 5px 1px;
    box-shadow: 2px 2px 5px 1px;
    /* margin-top: -25%; */
    /* margin-left: -25%; */
    width: 75%;
    height: 75%;
    overflow: hidden;
    outline: 0;
}

.modal-backdrop.modal-backdrop-ticket {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal.modal-ticket {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-ticket .modal-header,
  .modal-ticket .modal-footer {
    padding: 5px 15px;
    display: flex;
  }

  .modal-ticket .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-ticket .modal-header h5 {
      margin-top: 0.5rem;
  }

  .modal-ticket .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-ticket .modal-body {
    position: relative;
    padding: 10px;
  }

  .modal-ticket .btn-close {
    border: none;
    font-size: 20px;
    /*padding: 20px;*/
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .modal-ticket .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
    padding: 5px;
  }

  @media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .modal-backdrop .modal-ticket {
      width: 25%;
      height: 65%;
    }
}